@import "~bootstrap/scss/bootstrap";

body {
    text-align: center;
}

#userTable {
    margin: 0 auto;
    width: 75%;
    text-align: left;
}

#login {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 500px;
    padding: 25px;
    border-radius: 25px;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}