{% include 'head.html.twig' %}

<body>
    {% include 'navbar.html.twig' %}
    <h1>Üdvözöljük, felhasználó!</h1>

    <p>Itt találja a bejelentkezett felhasználó számára elérhető tartalmat.</p>
</body>